<a href="https://colab.research.google.com/github/AOV2099/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INTRO PYTHON FES
###VARIABLES 
tipo dinámico
`escuela = "FES ARAGON"`

In [23]:
escuela = "FES ARAGÓN"
print(escuela)
print('--------------')
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una frase 
de multiples
lineas y tambíen 
es un tipo de dato.
"""
print(frase)
nombre = 'Jose'
nombreCompleto = "jose Sosa Cardenas"

FES ARAGÓN
--------------

Esta es
una frase
de multiples
lineas y tambíen
es un tipo de dato.

# Print
con comas, 
con signo + 
con format()
con el operador f

In [9]:
print (nombre, edad)

Jose 13

In [10]:
#concatena
print(nombre + str(edad))
print(nombre + nombreCompleto

Jose13

In [15]:
#con formato -> su nombre es jos e y su edad es de 13 años.
print("Su nombre es " , nombre , " y su edad es de " , edad , " años.")
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )
print("Su nombre es {} y su edad es de {} años.".format(nombre, edad) )

Su nombre es  Jose  y su edad es de  13  años.
Su nombre es 13 y su edad es de Jose años.
Su nombre es Jose y su edad es de 13 años.

In [16]:
#con formato con el operador f""

print(f"Su nombre es  {nombre}  y su edad es de  {edad}  años.")

Su nombre es  Jose  y su edad es de  13  años.

# Caracter de escape 
\n salto de linea

\t tabulador

\a sonido beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [20]:
"""ESTO ES 
UN COMENTARIO
DE MUKTIPLE LINEA
"""
print(f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 Jose

#Ayuda de tipos de datos en python
dir()

help()

In [ ]:
#str, int, bool, float, bool ... list, dict, set
dir(str)
help(str)
#no combinar con código general

In [27]:
print(nombreCompleto.capitalize() )
print(nombreCompleto.upper(), end="-----" )
print(nombreCompleto.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#Clase string
Se maneja como un arreglo o lista(python)
`telefono = "Huawei mate 30 pro"`

In [29]:
telefono = "Huawei mate 30 pro"
print(telefono[5] )

i

#Slicing
[ini: stop: incremento]
nota: el estop no se incluye. Termina en el valor anterior al stop

In [36]:
print(telefono[7: 11: 1])
#el inicio y el incremento son opcionales
print(telefono[ : 11 : ] )
#El valor por defecto de stop es len(str)
print(telefono[::])
#Incremetento negativo
print(telefono[::-1])
#
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

#Metodos string (str)
Existen métodos muy útiles en esta clase.

In [52]:
facultad = "    Facultad de estudios superiores Aragón     \n"
print(facultad)
print(facultad.count(" ") ) #Cuenta el numero de elementos en la cadena
print(facultad.find("s") ) #Encuentra el índice de la primera coincidencia
print(facultad.strip() ) #Remueve los espacios en blanco, pero únicamente al principio y al final; además de los saltos de linea
print(f"El tamaño de la cadena es {len(facultad)} caracteres" )
print(facultad.strip().split(" "))

print("-----------------")
#copiar cadena
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES ARAGON"
print(otra_cadena)

#copiar listas
colores = ['rojo', 'verde']
otra = colores.copy()

otra.append('rosa')
print(colores)
print(otra)

    Facultad de estudios superiores Aragón

13
17
Facultad de estudios superiores Aragón
El tamaño de la cadena es 48 caracteres
['Facultad', 'de', 'estudios', 'superiores', 'Aragón']
-----------------
    Facultad de estudios superiores Aragón

FES ARAGON
['rojo', 'verde']
['rojo', 'verde', 'rosa']