<a href="https://colab.research.google.com/github/AOV2099/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#string continuación
frase = "si funciona, no lo arregles"

numeros_txt = "    1, 2 , 3   , 41 ,  35 , 12 "
print(numeros_txt)

numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for i in range(len(numeros_txt)):
  numeros_txt[i] = int(numeros_txt [i].strip())

numeros_txt.sort()
print(numeros_txt)

#función range

#range(inicio, stop, incremento)
rango = range(1, 10, 2)

for i in rango:
  print(i)

rango = range(10)
for i in rango:
  print(i)

    1, 2 , 3   , 41 ,  35 , 12
['1', ' 2 ', ' 3   ', ' 41 ', '  35 ', ' 12 ']
[1, 2, 3, 12, 35, 41]
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
- mutables
- declaran con [ ]
- selector [ int ]
- pueden ser cualquier tipo y mezclado

#Tuplas
- No mutables
- Declaran con ()
- Selector [ int ]

#Diccionarios
- Conjunto de pares llava/valor
- Mutables
-Equivalente a los objetos json en llava script

#Conjuntos
- Representacion de la teoria de conjuntos

In [53]:
#listas (equivalentes a los arreglos)
frutas = ["manzana", 'pera', 'fresa', 'kiwi', 'naranja']
print(frutas)
cosas = ['cuaderno', 2, 3.1416, True, ['rojo', 'azul', 'morado'] ]
print(cosas)
#frutas[2] = 'Fresa'
frutas[2] = frutas[2].capitalize()
print(frutas)
#agregar a la lista
frutas.append('Aguacate')
print(frutas)
frutas.insert(2,'Sandía')
print(frutas)

fecha = ["06", '10', '2020'] #06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['manzana', 'pera', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, ['rojo', 'azul', 'morado']]
['manzana', 'pera', 'Fresa', 'kiwi', 'naranja']
['manzana', 'pera', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['manzana', 'pera', 'Sandía', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [52]:
#eliminar elementos (pop y remove)
print(cosas)
cosas.append("libro")
cosas.append("lapiz")
print(cosas)
#pop
algo = cosas.pop()
print(cosas)

algo = cosas.pop(2)
print(cosas)
print(algo)

#remove busca valor ingresado y elimina la primera coincidencia
cosas.remove(2)
print(cosas)

#vaciar lista
cosas.clear()
print(cosas)

#ordenar, para usar sort se tiene que tener un solo tipo de datos.
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, ['rojo', 'azul', 'morado']]
['cuaderno', 2, 3.1416, True, ['rojo', 'azul', 'morado'], 'libro', 'lapiz']
['cuaderno', 2, 3.1416, True, ['rojo', 'azul', 'morado'], 'libro']
['cuaderno', 2, True, ['rojo', 'azul', 'morado'], 'libro']
3.1416
['cuaderno', True, ['rojo', 'azul', 'morado'], 'libro']
[]
['manzana', 'pera', 'Sandía', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Sandía', 'kiwi', 'manzana', 'naranja', 'pera']
[]

In [67]:
#slicing

cosas = ['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul', 'morado'] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = []
for i in range(1,16):
  numeros.append(i)
print(numeros)
print(numeros[7:12])

#sustituir rebanadas -2, -2
numeros[7:12] = [-2, -2]
print(numeros)

#preguntar si in valor existe en lista
print(-2 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul', 'morado']]
de
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

#Listas multidimensionales
##listas dentro de listas

In [92]:
computadoras = ['HP', 'McBook Pro 17', 'MateBook', 'Lenovo Legion']
os = ['Windows 10', 'Linux', 'Android', 'IOS']

computo = [computadoras, os]
print(computo[0])
print(computo[1])
print(computo[0][2][0:4])
print(computo[0][3][5::-1])

print('Linux' in computo[1])

dbms =[ ['MySQL', 'Open Source', False], ['MS SQLS SERVER', 'De paga', True] ] 
computo.append(dbms)
print(computo)

print(computo[2][1][1])

['HP', 'McBook Pro 17', 'MateBook', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate
ovoneL
True
[['HP', 'McBook Pro 17', 'MateBook', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['MySQL', 'Open Source', False], ['MS SQLS SERVER', 'De paga', True]]]
De paga